table {
    border-collapse: separate;
    border-spacing: 100px 10px;
}

ul {
    list-style: none;
}

li {
    margin: 0px 10px;
    float: left;
}

.pagingDiv {
    width: 80%;
}

.pagingDiv>ul>li {
    height: 20px;
    width: 20px;
}