<nav id="nav1">
    <ul>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu2</a></li>
        <li><a href="#">menu3</a></li>
        <li><a href="#">menu4</a></li>
        <li><a href="#">menu5</a></li>
    </ul>
</nav>

<style>
    #nav1{text-align:center;width:80%;overflow:hidden;height:80px;background-color:#1b2035;margin:50px auto}
    #nav1>ul{display:inline-block}
    #nav1>ul, li{list-style:none;float:left;padding:0 30px;line-height:80px}
    #nav1>ul>li>a{text-decoration:none;color:#fff;font-size:15px}
</style>